<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <style>
        body {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 300px;
        }

        label {
            margin-top: 10px;
        }
    </style>

    <form method="post" action="/api/save_list">
        <div>Add new list</div>
        <label for="listname">List name</label>
        <input id="listname" name="listname" />

        <label for="worden">Word in English</label>
        <input id="worden" name="worden" />

        <label for="wordpl">Word in Polish</label>
        <input id="wordpl" name="wordpl" />

        <button type="submit">save</button>
    </form>

</body>
</html>